<div class="main">
  <div class="container">
    <div class="paap-login">
      <h3>Quên mật khẩu</h3>
      <form class="login-form" novalidate #forgotPasswordForm="ngForm" autocomplete="off">
        <div class="input-has-icon mgb-10">
          <img class="icon-3" src="assets/images/user-icon.png" alt="img" />
          <input #forgotEmail="ngModel" [(ngModel)]="forgotData.forgotEmail" name="forgotEmail" class="custom-input" type="text" autocomplete="off" placeholder="Số điện thoại (hoặc Email)" required />
          <div [hidden]="forgotEmail.valid || (forgotEmail.pristine && !forgotPasswordForm.submitted)" class="error-message">
            Vui lòng nhập số điện thoại (hoặc Email)
          </div>
        </div>
        <button type="submit" class="login-btn" [disabled]="!forgotPasswordForm.form.valid" (click)="send($event)">Gửi</button>
      </form>
    </div>
    <!-- /.paap-login -->
  </div>
</div>
<!-- /.main -->
