<div class="alert alert-info" *ngIf="!tickets">Đang tải...</div>
<ng-container *ngIf="tickets">
  <div class="list-booked">
    <div class="booked-item" *ngFor="let ticket of tickets">
      <div class="booked-header">
        <div class="booked-location">
          <h4>{{ticket.arrival_address}}</h4>
          <img src="assets/images/arrow-icon-3.png" alt="img"/>
          <h4>{{ticket.departure_address}}</h4>
        </div>
        <div class="booked-date">10/3/2017</div>
      </div>
      <div class="booked-body">
        <div class="booked-info">
          <div class="text-inline">
            <div class="left-text">Thời gian khởi hành:</div>
            <div class="right-text">{{ticket.arrival_datetime | customDate}}</div>
          </div>
          <div class="text-inline">
            <div class="left-text">Phương tiện:</div>
            <div class="right-text">{{ticket.transport_name}}</div>
          </div>
          <div class="text-block">
            <div class="left-text">Thông tin:</div>
            <div class="right-text">{{ticket.description}}</div>
          </div>
        </div>
        <div class="booked-owner" *ngIf="getUserById(ticket.user_id) as user;">
          <div class="media">
            <div class="media-left">
              <img src="{{user.avatar}}" alt="img"/>
            </div>
            <div class="media-body">
              <h4>{{user.fullname}}</h4>
              <h5>{{user.phone}}</h5>
              <h5>{{user.email}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="booked-footer">
        <a class="update-btn" (click)="openTicketModal(ticket)">Cập nhật thông tin</a>
        <ng-container *ngIf="ticket.status === 'Active'">
          <span class="book-status open-status">Đang mở</span>
        </ng-container>
        <ng-container *ngIf="ticket.status === 'Processing'">
          <div class="book-status processing-label">Đang xử lý</div>
        </ng-container>
        <ng-container *ngIf="ticket.status === 'Confirmed'">
          <div class="book-status confirmed-label">Đã xác nhận</div>
        </ng-container>
        <ng-container *ngIf="ticket.status === 'InActive'">
          <span class="book-status close-status">Đã đóng</span>
        </ng-container>
      </div>
      <div id="ticket-{{ticket.id}}-modal" class="modal fade ticket-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-header">
            <h3>Thay đổi thông tin xe đã đặt</h3>
          </div>
          <div class="modal-content">
            <form novalidate #updateTicketForm="ngForm">
              <div class="row">
                <div class="col-sm-3"><h4>Quãng đường*</h4></div>
                <div class="col-sm-4 col-xs-6">
                  <div class="wrap-search-location">
                    <div class="input-has-icon">
                      <input #arrivalInput #arrival="ngModel" [(ngModel)]="ticketData.departureAddress" name="arrival" class="custom-input arrival-input" (keydown)="onKeydownArrival()" (blur)="onBlurArrival()" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder="Nhập vào điểm khởi hành" required />
                      <img class="icon" src="assets/images/marker-icon.png" alt="img" />
                    </div>
                  </div>
                  <div [hidden]="arrival.valid || (arrival.pristine && !updateTicketForm.submitted)" class="error-message submit-message-arrival">
                    Vui lòng chọn điểm khởi hành
                  </div>
                  <div class="error-message blur-message-arrival hidden"></div>
                </div>
                <div class="col-sm-1 hidden-xs text-center">
                  <img class="mgt-15" src="assets/images/arrow-icon-2.png" alt="img" />
                </div>
                <div class="col-sm-4 col-xs-6">
                  <div class="wrap-search-location">
                    <div class="input-has-icon">
                      <input #departureInput #departure="ngModel" [(ngModel)]="ticketData.destinationAddress" name="departure" class="custom-input departure-input" (keydown)="onKeydownDeparture()" (blur)="onBlurDeparture()" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder="Nhập vào điểm đến" required />
                      <img class="icon" src="assets/images/marker-icon.png" alt="img" />
                    </div>
                  </div>
                  <div [hidden]="departure.valid || (departure.pristine && !updateTicketForm.submitted)" class="error-message submit-message-departure">
                    Vui lòng chọn điểm đến
                  </div>
                  <div class="error-message blur-message-departure hidden"></div>
                </div>
                <div class="col-sm-4 col-sm-offset-3 col-xs-6 mgt-10">
                  <input [(ngModel)]="ticketData.departureName" name="arrivalLabel" class="custom-input" type="text" placeholder="Mô tả điểm khởi hành (tên bến xe,...)" />
                </div>
                <div class="col-sm-4 col-sm-offset-1 col-xs-6 mgt-10">
                  <input [(ngModel)]="ticketData.destinationName" name="departureLabel" class="custom-input" type="text" placeholder="Mô tả điểm đến (tên bến xe, tên địa điểm,...)" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"><h4>Ngày/giờ khởi hành*</h4></div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="wrap-date">
                    <div class="wrap-datepicker">
                      <datetime [timepicker]="false" [datepicker]="startDateOpts" (ngModelChange)="handleDateFromChange($event)" [(ngModel)]="ticketData.startDate" [ngModelOptions]="{standalone: true}"></datetime>
                    </div>
                  </div>
                  <div class="wrap-time">
                    <div class="wrap-datepicker">
                      <datetime [datepicker]="false" [timepicker]="timeOpts" [(ngModel)]="ticketData.startTime" [ngModelOptions]="{standalone: true}"></datetime>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 text-right">
                  <h4>Trạng thái</h4>
                </div>
                <div class="col-sm-3">
                  <select2 [data]="ticketStatus" [value]="ticket.status" [width]="'100%'" (valueChanged)="select2StatusChanged($event)" [options]="statusSelect2Options"></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"><h4>Ngày/giờ đến (dự kiến)</h4></div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="wrap-date">
                    <div class="wrap-datepicker">
                      <datetime [timepicker]="false" [datepicker]="endDateOpts" [(ngModel)]="ticketData.endDate" [ngModelOptions]="{standalone: true}"></datetime>
                    </div>
                  </div>
                  <div class="wrap-time">
                    <div class="wrap-datepicker">
                      <datetime [datepicker]="false" [timepicker]="timeOpts" [(ngModel)]="ticketData.endTime" [ngModelOptions]="{standalone: true}"></datetime>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 text-right">
                  <h4>Giá</h4>
                </div>
                <div class="col-sm-3">
                  <div class="wrap-price">
                    <input [(ngModel)]="ticketData.price" name="ticketPrice" class="custom-input" type="number" min="0" inputmode="numeric" pattern="[0-9]*" />
                    <span class="currency-label">VNĐ</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"><h4>Phương tiện*</h4></div>
                <div class="col-sm-4">
                  <div class="wrap-select">
                    <select2 [data]="listTransport" [value]="ticket.transport_id" [width]="'100%'" (valueChanged)="select2Changed($event)"></select2>
                  </div>
                </div>
                <div class="col-sm-2 text-right">
                  <h4>Tài xế theo xe</h4>
                </div>
                <div class="col-sm-3">
                  <input [(ngModel)]="ticketData.withDriver" name="withDriver" id="withDriver" type="checkbox" [value]="ticket.with_driver" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"><h4>Mô tả</h4></div>
                <div class="col-sm-9">
                  <textarea class="custom-textarea" placeholder="Nhập mô tả cho chuyến đi" [(ngModel)]="ticketData.description" name="description"></textarea>
                </div>
              </div>
              <div class="paap-update-footer">
                <button type="submit" class="submit-btn" [disabled]="ticketData.departureId === '' || ticketData.destinationId === '' || ticketData.startDate == null || ticketData.startTime == null || ticketData.transportId === 0" (click)="updateTicket(ticket.id, $event)">CẬP NHẬT</button>
                <button type="button" class="cancel-btn" (click)="cancelUpdateTicket(ticket.id)">HỦY</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.booked-item -->
  </div>
  <!-- /.list-booked -->
</ng-container>
