<div class="main">
  <div class="container">
    <div class="paap-login">
      <h3>Xin chào</h3>
      <form class="login-form" novalidate #loginForm="ngForm" autocomplete="off">
        <div class="input-has-icon mgb-10">
          <img class="icon-3" src="assets/images/user-icon.png" alt="img"/>
          <input #usernameLogin="ngModel" [(ngModel)]="loginData.usernameLogin" name="usernameLogin"
                 class="custom-input" type="text" autocomplete="off" placeholder="Số điện thoại (hoặc Email)" required/>
          <div [hidden]="usernameLogin.valid || (usernameLogin.pristine && !loginForm.submitted)" class="error-message">
            Vui lòng nhập số điện thoại (hoặc Email)
          </div>
        </div>
        <div class="input-has-icon mgb-10">
          <img class="icon-3" src="assets/images/lock-icon.png" alt="img"/>
          <input #passwordLogin="ngModel" [(ngModel)]="loginData.passwordLogin" name="passwordLogin"
                 class="custom-input" type="password" autocomplete="off" placeholder="Mật khẩu" required/>
          <div [hidden]="passwordLogin.valid || (passwordLogin.pristine && !loginForm.submitted)" class="error-message">
            Vui lòng nhập mật khẩu
          </div>
        </div>
        <button type="submit" class="login-btn" [disabled]="!loginForm.form.valid" (click)="login($event)">Đăng nhập
        </button>
        <button type="button" class="register-btn">Đăng ký</button>
        <div class="text-right mgb-20">
          <a class="forget-link link" [routerLink]="['/forgot-password']">Quên mật khẩu?</a>
        </div>
      </form>
      <form class="register-form hidden" novalidate #registerForm="ngForm">
        <div class="mgb-10">
          <input #fullnameReg="ngModel" [(ngModel)]="registerData.fullnameReg" name="fullnameReg"
                 class="custom-input mgb-10" type="text" placeholder="Họ và tên*" required/>
          <div [hidden]="fullnameReg.valid || (fullnameReg.pristine && !registerForm.submitted)" class="error-message">
            Vui lòng nhập họ và tên
          </div>
        </div>
        <div class="mgb-10">
          <input #phoneReg="ngModel" [(ngModel)]="registerData.phoneReg" name="phoneReg" class="custom-input"
                 type="text" autocomplete="off" placeholder="Số điện thoại*" required/>
          <div [hidden]="phoneReg.valid || (phoneReg.pristine && !registerForm.submitted)" class="error-message">
            Vui lòng nhập số điện thoại
          </div>
        </div>
        <div class="mgb-10">
          <input #emailReg="ngModel" [(ngModel)]="registerData.emailReg" name="emailReg" class="custom-input"
                 type="email" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$"/>
          <div [hidden]="emailReg.valid || (emailReg.pristine && !registerForm.submitted)" class="error-message">
            <span *ngIf="emailReg.errors && emailReg.errors['pattern']">Email không đúng định dạng</span>
          </div>
        </div>
        <div class="mgb-10">
          <input #passwordReg="ngModel" [(ngModel)]="registerData.passwordReg" name="passwordReg"
                 validateEqual="rePasswordReg" reverse="true" class="custom-input" type="password"
                 placeholder="Mật khẩu*" minlength="6" required/>
          <div [hidden]="passwordReg.valid || (passwordReg.pristine && !registerForm.submitted)" class="error-message">
            <span *ngIf="passwordReg.errors && passwordReg.errors['required']">Vui lòng nhập mật khẩu</span>
            <span *ngIf="passwordReg.errors && passwordReg.errors['minlength']">Mật khẩu tối thiểu 6 ký tự</span>
          </div>
        </div>
        <div class="mgb-20">
          <input #rePasswordReg="ngModel" [(ngModel)]="registerData.rePasswordReg" name="rePasswordReg"
                 validateEqual="passwordReg" class="custom-input" type="password" placeholder="Nhập lại mật khẩu*"
                 required/>
          <div [hidden]="rePasswordReg.valid || (rePasswordReg.pristine && !registerForm.submitted)"
               class="error-message">
          <span
            *ngIf="rePasswordReg.errors && rePasswordReg.errors['required'] && !rePasswordReg.errors['validateEqual']">
              Vui lòng nhập lại mật khẩu
          </span>
            <span
              *ngIf="rePasswordReg.errors && !rePasswordReg.errors['required'] && !rePasswordReg.errors['validateEqual']">
              Nhập lại mật khẩu không trùng với mật khẩu
          </span>
          </div>
        </div>
        <h4>Phần dành cho doanh nghiệp</h4>
        <div class="mgb-10">
          <input #companyNameReg="ngModel" [(ngModel)]="registerData.companyNameReg" name="companyNameReg"
                 class="custom-input" type="text" placeholder="Tên công ty"/>
        </div>
        <div class="mgb-20">
          <input #mstReg="ngModel" [(ngModel)]="registerData.mstReg" name="mstReg" class="custom-input" type="text"
                 placeholder="Mã số thuế"/>
        </div>
        <input [(ngModel)]="registerData.privacyReg" name="privacyReg" id="privacy" type="checkbox" [value]="true"
               required/>
        <label for="privacy">Tôi đã đọc và đồng ý với các <a data-toggle="modal" data-target=".privacy-modal">điều khoản
          sử dụng</a></label>
        <button type="submit" class="register-btn" [disabled]="!registerForm.form.valid" (click)="register($event)">
          Đăng ký
        </button>
        <div class="text-right">
          <a class="back-link link">Quay lại đăng nhập</a>
        </div>
      </form>
      <div class="modal fade verify-modal" tabindex="-1">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <img data-dismiss="modal" class="close-icon" src="assets/images/close-icon-3.png" alt="img"/>
              <h3>Xác nhận số điện thoại</h3>
            </div>
            <div class="modal-body">
              <form novalidate #verifyForm="ngForm">
                <input #verifyCode="ngModel" [(ngModel)]="registerData.verifyCode" name="verifyCode"
                       class="custom-input mgb-10" type="text" placeholder="Nhập mã xác nhận*" required/>
                <div [hidden]="verifyCode.valid || (verifyCode.pristine && !verifyForm.submitted)"
                     class="error-message">
                  Vui lòng nhập mã xác nhận
                </div>
                <button type="submit" class="submit-btn" [disabled]="!verifyForm.form.valid" (click)="register($event)">
                  Xác nhận
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade privacy-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <img data-dismiss="modal" class="close-icon" src="assets/images/close-icon-3.png" alt="img"/>
              <h3>Điểu khoản sử dụng</h3>
            </div>
            <perfect-scrollbar class="modal-body scroll-container">
              <div [innerHTML]="temrsContent"></div>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>
    <!-- /.paap-login -->
  </div>
</div>
<!-- /.main -->
